<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Integral Psychology, Minneapolis - Jungian, Existential, Transpersonal" />
    <meta name="keywords" content="Integral,psychology,jungian,transpersonal,existential,minnesota,minneapolis,mind-body,alternative,health,wellness,integrative" />
    <meta name="robots" content="index,follow" />
    <meta name="DC.title" content="{{ page.title }}" />
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/sites/all/themes/integral-therapy/favicon.ico" type="image/x-icon" />
    <style type="text/css" media="all">@import "{{ ASSET_PATH }}/sites/www.integral-therapy.com/files/css/64fc8e8556c81836f927ca43fd9de8a6.css";</style>
  </head>

  <body class="not-front not-logged-in ntype-page sidebar-left">

    <div id="page_wrapper">
      <div id='rndtop'>
        <div id='rndbot'>



          <!-- ******************************* HEADER PAGE AREA *********************** -->

          <div id="header">



            <div id="logo-title">

              <a href="{{site.baseurl}}" title="Home">
                <img src="{{ ASSET_PATH }}/files/integral-therapy_logo.jpg" alt="Home" id="logo" />
              </a>

              <div id="name-and-slogan">

              </div>
              <!-- /name-and-slogan -->

            </div>
            <!-- /logo-title -->

            <div id="navigation" class="menu  ">

            </div>
            <!-- /navigation -->

            {% if page.no_breadcrumb != true %}<div id="header-region">
              <div class="breadcrumb"><a href="{{site.baseurl}}">Home</a></div></div>{% endif %}

          </div>
          <!-- /header -->

          <!-- ******************************* END HEADER PAGE AREA *********************** -->

          <!-- ******************************* START CONTENT PAGE AREA *********************** -->

          <div id="contain1">
            <div id="contain2">

              <!-- start side bar left -->
              <div id="sidebar-left" class="column sidebar left">
                <div class="pad">
                  <div id="block-menu-47" class="block block-menu">  
                    <div class="blockinner">
                      <h2 class="title"> Main Menu </h2>
                      <div class="content">

                        <ul class="menu">
                          {% assign pages_list = site.pages %}
                          {% assign group = 'navigation' %}
                          {% include pages_list %}
                        </ul>
                      </div>    
                    </div>
                  </div>
                </div>
              </div>
              <!-- /sidebar-left -->

              <!-- start sidebar right area -->
              <!-- /sidebar-right -->       

              <!-- main text and content area -->
              <div id="textualcontent" class="">
                {{content}}
              </div>    <!-- end main text and content area -->

              <div class='clear'></div>

            </div>
          </div>      <!-- /container -->

          <!-- ******************************* END CONTENT PAGE AREA *********************** -->

          <!-- ******************************* START FOOTER PAGE AREA *********************** -->

          <div id="footer" class="clear">
            Integral Psychotherapy, LLC<br />
            3808 Grand Ave. S<br />
            Minneapolis, MN 55409<br />
            612-807-0388<br /><br />
            This site is hosted by <a href="http://www.sundaysenergy.com/">Sundays Energy</a> with servers powered by wind
          </div>        <!-- /footer -->


        </div>
      </div>
    </div>  <!-- /page_wrapper -->

  </body>

</html>